      Now with rudimentry functionality!
    </small>
  </h3>
</div>
<br>

<p>
  <a href="/delete_all">Clear out the DB!</a>
  <br>
  <a href="/scrape">Scrape up some new ads</a>
  <br>
  <a href="/googlecharts">Google Charts Visualization</a>
</p>
<% total = 0 %>
<% @carads.each() do |carad| %>
  <% total += carad.price() %>
<% end %>
and your average is: $<%= total / @count %>!

<h3>City averages:</h3>
<ul class="list-unstyled">
  <% @cities.each() do |city| %>
    <li><a href="/city/<%= city.id() %>"><%= city.name %> | <%= city.average_price() %> </a></li>
  <% end %>
</ul>

<a href="/generate_tsv">Generate Tsv</a>
