<!DOCTYPE html>
<html>
  <head>
    <title>Scrapelist Viewer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
  </head>
  <body>
    <div class="container">
      <div class="container page-header">
        <h3><a href='/'>Scrapelist Viewer</a>

          <small>
          <br>
          <%= yield %>
    </div>
  </body>
</html>
